aiohttp==3.13.5
aiosqlite==0.22.1
apscheduler==3.11.2
beautifulsoup4==4.14.3
ecdsa==0.19.2
fake_useragent==2.2.0
fastapi==0.136.0
httpx==0.28.1
matplotlib==3.10.8
notebook==7.5.5
numpy==2.4.4
pandas==3.0.2
pydantic==2.13.2
redis==7.4.0
rich==15.0.0
scikit-learn==1.8.0
seaborn==0.13.2
tabulate==0.10.0
tqdm==4.67.3
uvicorn==0.44.0
websockets==16.0
xgboost==3.2.0
